clientews/Service References/manejoidentidad01/oe_Autenticacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://soi.avvillas.com/ManejoIdentidad/WSBA_ManejoIdentidad_autenticar" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="oe_Autenticacion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="strUsuario" type="xsd:string" />
      <xsd:element minOccurs="0" name="strContrasena" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>